body {
  font-family: "Fragment Mono", monospace;
}

h1 {
  font-size: 55px;
  font-weight: 600;
  padding-top: 50px;
}

h2 {
  font-size: 50px;
  font-weight: 800;
}
h3 {
  padding-top: 55px;
}
.btn-primary {
  padding: 5px 7px;
  margin-top: 12px;
  box-shadow: 3px 3px 3px #343434;
  transition: all 120ms ease-in-out;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #041f66;
}

.btn-success {
  padding: 5px 7px;
  margin-top: 12px;
  box-shadow: 3px 3px 3px #343434;
  transition: all 120ms ease-in-out;
}

.btn-success:hover {
  cursor: pointer;
  background-color: #03351d;
}

.code-info {
  margin: 0 auto;
}

.city-search {
  font-size: 18px;
  font-weight: 900;
}

.forecast-days {
  font-size: 20px;
}

.forecast-temps {
  font-size: 40px;
  font-weight: 900;
}

.forecast-icons {
  font-size: 60px;
}

.temp-container {
  font-size: 22px;
}

.units {
  position: relative;
  left: 75px;
  top: -65px;
}

.weather-display {
  margin-top: 10px;
}

.weather-icon {
  font-size: 60px;
}

.weather-search {
  padding-top: 25px;
}

#celsius-link {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}
